.section-header {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 45px;
	max-width: 700px;
	text-align: center;

	h2 {
		font-size: 2.875rem;
		font-weight: 800;
		letter-spacing: 1px;
		margin-bottom: 15px;
	}

	p {
		font-size: 1.125rem;
		font-weight: 300;
	}
}

.promo-title {
	font-size: 3.125rem;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.promo-text {
	margin-bottom: 25px;
	font-size: 1.25rem;
	font-weight: 600;
}

@media (max-width: 768px) {
	.section-header {
		h2 {
			font-size: 2.125rem;
			font-weight: 700;
		}
	}

	.promo-title {
		font-size: 2.5rem;
		font-weight: 700;
	}

	.promo-text {
		font-size: 1.125rem;
		font-weight: 500;
	}
}

@media (max-width: 576px) {
	.section-header {
		h2 {
			font-size: 1.5rem;
			font-weight: 600;
			letter-spacing: 0;
		}
	}

	.promo-title {
		font-size: 1.875rem;
		font-weight: 600;
	}

	.promo-text {
		font-size: 1rem;
		font-weight: 400;
	}
}
